# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
